Package: blinkt-tube-status
Version: 1.0.0-1
Section: base
Priority: optional
Architecture: all
Depends: supervisor (>=3.0r1-1)
Maintainer: Daniel Harper <me@email.com>
Description: Runs tube status monitor (requires blinkt hardware)
